.header {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #003893;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    text-align: center;
    position: fixed;
    z-index: 1000; 
}

a {
    color: #CF2027;
    font-weight: bold;
    text-decoration:none;
}

.header h1 {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 30px;
    color: white;
}

.preface, .part-1, .part-2, .part-3, .testing-shortcomings {
    text-align: left;
    margin: 30px;
}

.preface {
    margin-top: 90px;
}

.preface h1, .part-1 h1, .part-2 h1, .part-3 h1, .testing-shortcomings h1 {
    font-family: 'Kaisei Decol'; 
    font-size: 25px;
    color: #86262A;   
    margin: 20px;
    font-weight: bold;
    text-decoration:underline;
}

.preface img, .part-1 img, .part-2 img, .part-3 img {
    height: 450px;
    width: auto;
    display: block;
    margin: 0 auto;
    box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.1);
}

.preface img:hover, .part-1 img:hover, .part-2 img:hover, .part-3 img:hover, .lofi-images img:hover {
    transform: scale(1.05); 
}

.preface p, .part-1 p, .part-2 p, .part-3 p, .testing-shortcomings p {
    margin: 20px;
    font-family: 'Kaisei Decol'; 
    font-size: 15px;
    color: black;   
}

.lofi-images, .hifi-images {
    display:flex;
    flex-direction:row; 
    justify-content: center; 
    margin-bottom: 10px;
}

.lofi-images img, .hifi-images img {
    height: 450px;
    width: auto;
    margin: 0 10px; 
    box-shadow: 5px 6px 15px rgba(0, 0, 0, 0.1);
}
